<%#= debug(@items) %>
<div class="container ranking">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3><%= title %></h3>        
      </div>
<% if @items.present? %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>順位</th>
            <th>商品名</th>
            <th>画像</th>
            <th>合計人数</th>
          </tr>
        </thead>
        <tbody>
    <% @items.each_with_index do |item,index| %>
        <tr>
          <th class="text-center" scope="row"><%= (index+1) %></th>
          <td><%= item.title %></td>
          <td>
            <% if item.medium_image %>
              <%= image_tag( item.medium_image, alt:'' ) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: '') %>
            <% end %>
          </td>
          <td class="text-center"><%= item.user_count %></td>
        </tr>
    <% end %>
        </tbody>
      </table>
<% end %>
    </div>
</div>
