<%#= debug(@items) %>
<%#= debug(@groups) %>
<div class="container ranking">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3><%= title %></h3>        
      </div>
<% if @groups.present? %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>順位</th>
            <th>商品名</th>
            <th>画像</th>
            <th>合計人数</th>
          </tr>
        </thead>
        <tbody>
    <% @groups.each_with_index do |g,index| %>
      <% if @items.has_key?(g.id) %>
          <tr>
            <th class="text-center" scope="row"><%= (index+1) %></th>
            <td><%= @items[g.id].title %></td>
            <td>
              <% if @items[g.id].medium_image %>
                <%= image_tag( @items[g.id].medium_image, alt:'' ) %>
              <% else %>
                <%= image_tag("no-image.png" , alt: '') %>
              <% end %>
            </td>
            <td class="text-center"><%= g.user_count %></td>
          </tr>
      <% end %>
    <% end %>
        </tbody>
      </table>
<% end %>
    </div>
</div>
