<%#= debug(@items) %>
<div class="container ranking">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3><%= title %></h3>        
      </div>
<% if @items.present? %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>順位</th>
            <th>商品画像</th>
            <th>商品名</th>
            <th>合計人数</th>
          </tr>
        </thead>
        <tbody>
    <% @items.each_with_index do |item,index| %>
        <tr>
          <th class="text-center" scope="row"><%= (index+1) %></th>
          <td>
            <% if item.medium_image %>
              <%= image_tag( item.medium_image, alt: item.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.title, size: "160x160") %>
            <% end %>
          </td>
          <td>
            <%= link_to item.title, item %>
          </td>
          <td class="text-center">
            <%= item.user_count %>
            <% if current_user.have?(item) %>
            <br /><span class="label label-warning">You have</span>
            <% end %>
            <% if current_user.want?(item) %>
            <br /><span class="label label-success">You want</span>
            <% end %>
          </td>
        </tr>
    <% end %>
        </tbody>
      </table>
<% end %>
    </div>
</div>
